// // import fontawesome
//
// $fa-font-path: 'fonts';
// @import ''


//import file sezioni

@import 'partials/_normalize';
@import 'partials/_comm.scss';
@import 'partials/_header';
@import 'partials/_section1';
@import 'partials/_section2';
@import 'partials/_color';
