* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding-top: 90px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
